@model TAS_AprajiataRetails.Models.Data.EndOfDay

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EndOfDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EOD_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EOD_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shirting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shirting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suiting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suiting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FM_Arrow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FM_Arrow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RWT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RWT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashInHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashInHand)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
