<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aprajita Retails</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg-primary  ">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Aprajita Retails", "Index", "Home", new { area = "" }, new { @class = "navbar-brand " })
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Daily Sale", "Index", "DailySales")</li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">PayRoll</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Employee", "Index", "Employees")</li>
                            <li>@Html.ActionLink("Attendances", "Index", "Attendances")</li>
                            <li>@Html.ActionLink("SalaryPayments", "Index", "SalaryPayments")</li>
                            <li>@Html.ActionLink("StaffAdvancePayments", "Index", "StaffAdvancePayments")</li>
                            <li>@Html.ActionLink("StaffAdvanceReceipts", "Index", "StaffAdvanceReceipts")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Cash In/Out</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Expenses", "Index", "Expenses")</li>
                            <li>@Html.ActionLink("Cash Expenses", "Index", "PettyCashExpenses")</li>
                            <li>@Html.ActionLink("Cash Payments", "Index", "CashPayments")</li>
                            <li>@Html.ActionLink("Cash Receipts", "Index", "CashReceipts")</li>
                            <li>@Html.ActionLink("Payments", "Index", "Payments")</li>
                            <li>@Html.ActionLink("Receipts", "Index", "Receipts")</li>
                            <li>@Html.ActionLink("Due Recovery", "Index", "DueRecoverds")</li>
                            <li>@Html.ActionLink("Bank Withdrawals", "Index", "BankWithdrawals")</li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Tailoring</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Tailoring Booking", "Index", "TalioringBookings")</li>
                            <li>@Html.ActionLink("Tailoring Delivery", "Index", "TalioringDeliveries")</li>
                            <li>@Html.ActionLink("Tailoring Salary Payments", "Index", "TailoringSalaryPayments")</li>
                            <li>@Html.ActionLink("Tailors", "Index", "TailoringEmployees")</li>
                            <li>@Html.ActionLink("Attendance", "Index", "TailorAttendances")</li>

                            <li>@Html.ActionLink("Tailor Adv Payment", "Index", "TailoringStaffAdvancePayments")</li>
                            <li>@Html.ActionLink("Tailor Adv Receipt", "Index", "TailoringStaffAdvanceReceipts")</li>
                        </ul>

                    </li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Banking</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Bank Deposits", "Index", "BankDeposits")</li>
                            <li>@Html.ActionLink("Bank Accounts", "Index", "AccountNumbers")</li>
                            <li>@Html.ActionLink("Cheques", "Index", "ChequesLogs")</li>
                            <li>@Html.ActionLink("Cash Withdrawals", "Index", "BankWithdrawals")</li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Adminstration</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Suspense", "Index", "SuspenseAccounts")</li>
                            <li>@Html.ActionLink("End of Day", "Create", "EndOfDays")</li>
                            <li>@Html.ActionLink("Cash Book", "Index", "CashBook")</li>
       @* <li>@Html.ActionLink("Cheques", "Index", "")</li>
        <li>@Html.ActionLink("Cash Withdrawals", "Index", "BankWithdrawals")</li>*@
                        </ul>

                    </li>

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-right  text-success">Current Time: @DateTime.Now</p>
            
          <p>  &copy; @DateTime.Now.Year - The Arvind Store, Dumka(Aprajita Retails)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/jquery-ui.js")*@
    @RenderSection("scripts", required: false)
</body>
</html>
