@model IEnumerable<TAS_AprajiataRetails.Models.Data.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Daily Attendance</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AttendanceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AttendanceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AttendanceId })
            </td>
        </tr>
    }

</table>
