@model IEnumerable<AprajitaRetails.Areas.TAS.Models.Data.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-danger">Daily Attendance</h2>

<p>
     @Html.ActionLink("Create New ", "Create", new { id = 0 }, new { data_modal = ""  , @class = "btn btn-primary "})
</p>
<table class="table  table-bordered table-condensed  table-hover  bg-info ">
    <tr class="bg-success" >
        <th>
            @Html.DisplayNameFor(model => model.Employee.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td >
                @Html.ActionLink("Edit", "Edit", new { id = item.AttendanceId },new { data_modal = "", @class = "btn btn-warning btn-sm" }) 
                @Html.ActionLink("Details", "Details", new { id = item.AttendanceId },new { data_modal = "", @class = "btn btn-info btn-sm " }) 
                @Html.ActionLink("List", "EmpDetails", new { id = item.AttendanceId },new { data_modal = "", @class = "btn btn-success btn-sm "})
            </td>
        </tr>
    }

</table>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in '>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#myModalContent').load(this.href, function () {
                    $('#myModal').modal({
                        keyboard: true
                    }, 'show');
                });
                return false;
            });
        });

    </script>
}