@model IEnumerable<TAS_AprajiataRetails.Models.Data.CashInHand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CIHDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenningBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashOut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CIHDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenningBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashOut)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CashInHandId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CashInHandId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CashInHandId })
        </td>
    </tr>
}

</table>
