@model IEnumerable<TAS_AprajiataRetails.Models.Data.TailoringStaffAdvanceReceipt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.StaffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.TailoringStaffAdvanceReceiptId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TailoringStaffAdvanceReceiptId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TailoringStaffAdvanceReceiptId })*@
        </td>
    </tr>
}

</table>
