@model AprajitaRetails.Areas.TAS.Models.Data.ChequesLog

@{
    ViewBag.Title = "Details";
}

    <div class="bg-success">
        <h2 class="text-danger">Details</h2>
        <div>
            <h4  class="text-warning text-right">Cheque Log Details </h4>
            <hr />
            <dl class="dl-horizontal text-primary text-justify table-bordered bg-info ">
                <dt>
                    @Html.DisplayNameFor(model => model.BankName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BankName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AccountNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ChequesDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ChequesDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepositDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepositDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ClearedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClearedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IssuedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IssuedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IssuedTo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IssuedTo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Amount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsPDC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsPDC)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsIssuedByAprajitaRetails)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsIssuedByAprajitaRetails)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDepositedOnAprajitaRetails)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDepositedOnAprajitaRetails)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ChequesLogId }, new { data_modal = "" ,@class = "btn btn-warning" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
        </p>
</div>