@model IEnumerable<TAS_AprajiataRetails.Models.Data.TailoringSalaryPayment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
     @Html.ActionLink("Create New ", "Create", new { id = 0 }, new { data_modal = "" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryComponet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.StaffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryComponet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.TailoringSalaryPaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TailoringSalaryPaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TailoringSalaryPaymentId })*@
        </td>
    </tr>
}

</table>
