@model AprajitaRetails.Models.Data.Voyagers.ProductItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrandName.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StyleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Units)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
