@model IEnumerable<AprajitaRetails.Models.Data.Voyagers.ProductItem>

@{
    ViewBag.Title = "Products";
}

<h2>Product List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-primary " })
</p>
<table class="table  table-bordered table-hover table-primary  table-sm  ">
    <tr class="bg-success">
        <th>
            @Html.DisplayNameFor(model => model.BrandName.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StyleCode)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Categorys)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.MainCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TaxRate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Units)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StyleCode)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.ItemDesc)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Categorys)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MRP)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TaxRate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductItemId },new { @class="btn btn-sm btn-outline-warning "})
                @Html.ActionLink("Details", "Details", new { id = item.ProductItemId },new { @class="btn btn-sm btn-outline-info "})
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductItemId },new { @class="btn btn-sm btn-outline-danger "})
            </td>
        </tr>
    }

</table>
