@model IEnumerable<TAS_AprajiataRetails.Models.Data.CashPayment>

@{
    ViewBag.Title = "Home Expenses";
}

<h2 class="text-danger">Home Expenses</h2>

@*<p>
    @Html.ActionLink("Create New ", "Create", null, new { data_modal = "", @class = "btn btn-primary btn-sm" })
</p>*@
<p>
    <h4 class="text-primary"> Total Amount : @ViewBag.TotalAmount</h4>
</p>
<table class="table table-bordered table-condensed table-hover bg-success">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mode.Transcation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlipNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr  class="bg-info">
        <td>
            @Html.DisplayFor(modelItem => item.Mode.Transcation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlipNo)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.CashPaymentId }, new { @class="btn btn-sm btn-warning"}) |*@
            @Html.ActionLink("Details", "Details", new { id=item.CashPaymentId }, new { @class="btn btn-sm btn-info"}) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.CashPaymentId }, new { @class="btn btn-sm btn-danger"})*@
        </td>
    </tr>
}

</table>
