@model IEnumerable<TAS_AprajiataRetails.Models.Data.CashReceipt>

@{
    ViewBag.Title = "Index";
}

    <h2>Cash Receipt</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mode.Transcation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InwardDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlipNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mode.Transcation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InwardDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlipNo)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.CashReceiptId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CashReceiptId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CashReceiptId })*@
        </td>
    </tr>
}

</table>
