@model IEnumerable<TAS_AprajiataRetails.Models.Data.DailySale>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Salesman.SalesmanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsManualBill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTailoringBill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Salesman.SalesmanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsManualBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTailoringBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DailySaleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DailySaleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DailySaleId })
        </td>
    </tr>
}

</table>
