@model AprajitaRetails.Areas.TAS.Models.Data.TailoringStaffAdvanceReceipt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TailoringStaffAdvanceReceipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.StaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TailoringStaffAdvanceReceiptId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
