@model IEnumerable<TAS_AprajiataRetails.Models.Data.Voyagers.ImportInWard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h4>Add Users via Excel</h4>
    <hr />
    @using (Html.BeginForm("UploadExcel", "ExcelUploader", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
    {
        <div class="form-horizontal">
            <div class="form-group">
                <div class="control-label col-md-2">Download Format:</div>
                <div class="col-md-10">
                    <a href="/ExcelUploader/DownloadExcel/"><img src="~/excel.ico" width="25" height="25" title="Download Excel format" alt="excel" /></a>
                </div>
            </div>


            <div class="form-group">

                <div class="control-label col-md-2">Excel:</div>
                <div class="col-md-10">
                    <input type="file" id="FileUpload" name="FileUpload" class="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />

                </div>
            </div>
        </div>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InWardNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InWardDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMRPValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImportDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InWardNo)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.InWardDate)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMRPValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImportDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImportInWardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImportInWardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImportInWardId })
        </td>
    </tr>
}

</table>
