@model IEnumerable<TAS_AprajiataRetails.Models.Data.Voyagers.ImportPurchase>

@{
    ViewBag.Title = "PurchaseList";
}

<h2>PurchaseList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GRNNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRNDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StyleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GRNNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRNDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StyleCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostValue)
        </td>
        <td>
            @Html.ActionLink("Process", "ProcessPurchase", new { id=item.ImportPurchaseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImportPurchaseId }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ImportPurchaseId })*@
        </td>
    </tr>
}

</table>
