@model IEnumerable<AprajitaRetails.Models.Data.Voyagers.ProductItem>

@{
    ViewBag.Title = "ProcessPurchase";
}

<h2>ProcessPurchase</h2>

<p>
    <h4> @ViewBag.MessageHead</h4>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StyleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDesc)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Categorys)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StyleCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDesc)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Categorys)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MRP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductItemId })
        </td>
    </tr>
}

</table>
